* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    position: relative;
    transition: all .6s ease;
    display: flex;
    padding: 220px 150px;
}

.container-fluid {
    width: 60%;
    height: 280px;
    overflow: hidden; 
}
.logo{
    width: 40%;
}
.logo img{
    width: 60%;
    transition: all .6s ease;
}

.slider {
    display: inline-flex;
    transition: all .6s ease-in-out;
}

.slider-col {
    width: 47vw;
    height: 280px;
}

.slider-col h1 {
    color: #fff;
    font-size: 80px;
    font-weight: 100;
    margin: 10px 0;
}

.slider-col p {
    color: #ddd;
    font-size: 15px;
    line-height: 25px;
}

.slider-col a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    background-color: #f1f1f1;
    padding: 10px 35px;
    border-radius: 30px;
    margin-top: 25px;

}

.controller {
    width: 1px;
    height: 320px;
    display: block;
    background: #c0c0c0;
    position: absolute;
    top: 55%;
    right: 50px;
    transform: translateY(-50%);
}

#line-1,
#line-2,
#line-3,
#line-4 {
    height: 80px;
    width: 10px;
    cursor: pointer;
    transform: translateX(-50%);
}
#active{
    width: 5px;
    height: 80px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top:0;
    transform: translateX(-50%);
    transition: .5s ease;
}